sticazzi
userinfo.txt
Database.txt 
server
client
serverResponses.txt
DatabaseHandler
Database
a.out
socketClientTest
socketServerTest
*.o
tuiPrototype
commitNotes.md
junk.c
clientTest
YellowPage.data
filteredEntryees.anActualReadableTxtFileAndNotRandomBytes
